body {
//    font-family: sans-serif;
    color: #555;
}

h1, h2, h3 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}
h1, h2{
    text-align: center;
}
h2 {
    /*border-color: #000066;*/
    border-style: groove;
    /* dotted | dashed | solid | groove | ridge*/
    border-width: 1px;
}
h3 {
    font-size: 1.25em;
    text-decoration: underline;
}

a {
    color: #3b8bba;
/*    text-decoration: none;*/
}

a:visited {
    color: #265778;
}

.header {
     min-height: 80px;
     margin: 0em 0 0em 0;
     color: #333;
     padding: 1em;
     text-align: center;
     background: #fff;
}
.header h1 {
    margin: 0em 0 0 0;
    font-weight: 300;
    font-size: 3em;
    color: #666;
}
.header h2 {
    margin: 0em 0 0 0;
    font-weight: 300;
    color: #999;
}

.content {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}
.content p, ol {
    line-height: 1.6em;
    font-size: 1.075em;
    /*font-size: 1.125em;*/
}
.content .content-subhead {
    margin: 60px 0 20px 0;
    font-weight: 300;
    color: #555;
}
.content .content-spaced {
    line-height: 1.8em;
}

legend {
    font-weight: normal;
    font-size: 22px;
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 25px;
}

fieldset {
    padding: 20px;
    margin: 20px;
}
.footer {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
}