body {
/*    font-family: sans-serif;*/
    color: #555;
}

h1, h2, h3 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}
h1, h2{
    text-align: center;
}
h2 {
    border: 1px groove;
    margin: auto;
    width: 80%;
}
h3 {
    font-size: 1.25em;
    text-decoration: underline;
}

a {
    color: #3b8bba;
/*    text-decoration: none;*/
}

a:visited {
    color: #265778;
}

fieldset {
    padding: 20px;
    margin: 20px;
}

legend {
    font-weight: normal;
    font-size: 22px;
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 25px;
}

.header {
    min-height: 80px;
    color: #333;
    padding: 1em;
    text-align: center;
    background: #fff;
}
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 3em;
    color: #666;
}
.header h2 {
    font-weight: 300;
    color: #999;
}

.content {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}
.content p, ol {
    line-height: 1.6em;
    font-size: 1.075em;
}
.content .content-subhead {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #555;
}
.content .content-spaced {
    line-height: 1.8em;
}

.footer {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
